.sokoban-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;

    .game-title{
        font-family: 'game-title';
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
        /*
         * css文字渐变方式
         */
        background-image: linear-gradient(to right , #22c1c3, #fdbb2d); // 设置背景渐变
        background-clip: text; // 以盒子内的文字作为裁剪区域向外裁剪，文字之外的区域都将被裁剪掉
        -webkit-text-fill-color: transparent;  // 文字填充颜色为 透明
    }

    .map{
        .cols{
            float: left;
            position: relative;
            left: 50%;
            >div{ // 利float实现
                float: left;
                position: relative;
                right: 50%;
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                border: 2px solid #dedede;
                border-width: 2px 2px 2px 2px; // 上 右 下 左
                margin: -1px -1px; // 解决 “双边框”
            } 
            .player{
                background-color: #dedede;
                background-image: url('../../../../icon/walker.png');
                background-size: cover;
                background-position: center;
            }
            .box{
                background-color: #dedede;
                background-image: url('../../../../icon/box.png');
                background-size: cover;
                background-position: center;  
            }
            .reward{
                background-color: #dedede;
                background-image: url('../../../../icon/coin.png');
                background-size: cover;
                background-position: center;
            }
            .achieve{
                background-color: #dedede;
                background-image: url('../../../../icon/gold.png');
                background-size: cover;
                background-position: center;
            }
            .blank{
                background: #dedede;
            }
            .barrier{
                background: gray;
            }
            clear: both; // 清除浮动, 换行
        }
 
    }

    .score-text {
        font-size: 10px;
        align-items: center;
    }

    .button-group{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }
}