.bread-crumb-ctn {
  display: flex;
  align-items: center;

  .item {
    font-family: "text"; // 自定义字体
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out 0s;
    animation: lightSpeedInLeft 2.5s ease-in-out 0s;
  }
  .item:hover{
    transform: scale(1.1);
  }
}
